<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Detail</title>
</head>
<body>
	<h2>Employee Detail - {{ id }}</h2>
	<table border="1">
		<thead>
			<th>name</th>
			<th>email</th>
			<th>phone</th>
			<th>address</th>
			<th>position</th>
			<th>salary</th>
			<th>skills</th>
		</thead>
		<tbody>
				<tr>
		        <td>{{ employee.name }}</td>
		        <td>{{ employee.email }}</td>
		        <td>{{ employee.phone }}</td>
		        <td>{{ employee.address }}</td>
		        <td>{{ employee.position }}</td>
		        <td>{{ employee.salary }}</td>
		        <td>
		        	<ul>
			        	{% for skill in employee.skills %}
							<li>{{ skill.skill }}</li>
			        	{% endfor %}
		        	</ul>
		        </td>
				</tr>
		</tbody>
	</table>
	<a href="/employees">Regresar</a>
</body>
</html>
