<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
	<h2>Busqueda de empleados</h2>
	<form action="/searchs/employee" method="GET">
		<label for="email">Ingrese un email</label>
		<input type="text" name="email" required>
		<button>Buscar</button>
	</form>
	<hr>
	<h2>Lista de empleados:</h2>
	<table border="1">
		<thead>
			<th>name</th>
			<th>email</th>
			<th>position</th>
			<th>salary</th>
			<th>detail</th>
		</thead>
		<tbody>
				<tr>
		        <td>{{ employee.name }}</td>
		        <td>{{ employee.email }}</td>
		        <td>{{ employee.position }}</td>
		        <td>{{ employee.salary }}</td>
		        <td><a href="/employees/{{ employee.id }}">detail</a></td>
				</tr>
		</tbody>
	</table>
	<a href="/employees">Limpiar resultado</a>
</body>
</html>
